/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", serif;
}
ion-col {
    background-color: #D81B60;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  } */

  ion-content {
  background-color: #e9ecef;
  color: #333;
}

.custom-input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  color: #451952;
  width: 100%;
  font-size: 14px;
  margin-bottom: 8px;
}

.custom-input:focus {
  outline: none;
  border-color: #f39f5a;
  box-shadow: 0 0 5px rgba(243, 159, 90, 0.3);
}

.custom-input::placeholder {
  color: #999;
}

ion-avatar img {
  border: 2px solid #f39f5a;
}